*{
  margin: 0;
  padding: 0;
  
}

h1{
  text-transform:uppercase;
  font-weight:800;
  color: purple;
  text-align: center;
}
h1:hover{
  color: #DD4B39;
}

.navbar{
  background: plum;
}
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: plum;
  position: relative;
 
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;

}
.cta-text span {
  color: black;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: black;
  line-height: 28px;
}
.footer-social-icon span {
  color: black;
  display: block;
  font-size: 20px;
  font-weight: 700;

  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: black;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background:purple;
}
.footer-widget ul li {
  display: inline-block;
 
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: purple;
}
.footer-widget ul li a {
  color: black;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: purple;
    padding: 13px 20px;
    border: 1px solid purple;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: purple;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/*=====service section start=====*/

.service .card{
  margin:30px 0px;
  background-color: plum;
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: none;
}
.service .card-title{
  text-transform: capitalize;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}
.service .btn{
  background: purple;
  color: white;

}
.service .card:hover{
  background-color: white;
  transform: scaleX(0.8);
}
@media (max-width: 767px) {
  .service .card{
    margin: 10px 0px;
    justify-items: center;
    justify-content: center;
  }

}
.service .card-img-top{
  height: 150px;
}

/*======service end=====*/

/*====about page start======*/
.about-us{
  background-color: #fff;
}

.about-us h1{
  text-transform: uppercase;
  color: purple;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  margin-top: 100px;

}
.about-us h1:hover{
  color: #DD4B39;
  transform: rotate3d(80deg);
}
.about-us p{
  margin-top: 10px;
  font-size: 16px;
  text-transform: capitalize;
}
.about-us img{
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .about-us img{
    width: 100%;
  }
}
/*===about page end====*/

/*=====blog page start====*/
.blog .card{
  width: 350px;
  background-color: plum;
  border-radius: 20px;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: none;
}
.blog .card:hover{
  background-color: white;
}
.blog .img{
  border-radius: 20px;
  margin: 0px;
  height: 100px;
  
}

.blog .btn{
  background: purple;
  color: white;
  justify-content: center;

}
/*=====blog end====*/
/*=====contact start====*/
.contact img{
  width: 400px;
  height: 400px;

}
.contact .btn1{
  width: 150px;
  background-color: purple;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 20px;
  text-align: center;
  
}
.contact button{
  color: white;
  border-radius: 20px;
  font-size: 16px;
  text-transform: uppercase;
}
.from-group{
  height: 100px;
}
.form-control{
  height: 50px;
}

@media (max-width: 767px) {
  .contact img{
    width: 100%;
  }
}

.info{
  background-color: white;
  border-radius: 20px;
  box-shadow:
  inset 0 -3em 3em rgba(247, 249, 247, 0.3),
  0 0 0 2px white,
  0.3em 0.3em 1em rgba(239, 43, 235, 0.6);
  margin-top: 30px;
  margin-bottom: 30px;
}
.info img{
  width: 500px;
  height: 300px;
  margin: 20px 0px;

}
.info h2{
  font-family: 'Courier New', Courier, monospace;
  color: purple;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 30px;
}
.info p{
  margin-top: 20px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .info img{
    width: 100%;
  }
}
.info button{
  background-color: purple;
  color: white;
}
/*=====contact end====*/
.content{
  background-color: white;
  border-radius: 20px;
  box-shadow:
  inset 0 -3em 3em rgba(247, 249, 247, 0.3),
  0 0 0 2px white,
  0.3em 0.3em 1em rgba(239, 43, 235, 0.6);
  margin-bottom: 30px;
  margin-top: 30px;
}
.content img{
  height: 400px;
  width: 500px;
}

.content button{
  background-color: purple;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
}

.content h2{
  font-family: 'Courier New', Courier, monospace;
  color: purple;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 50px;
}
.content p{
  margin-top: 20px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .content img{
    width: 100%;
  }
}

.navbar-brand{
  margin-left: 50px;
  color: purple;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
}
.nav-link{
  margin-left: 20px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .nav-link{
    margin-left: 10px;
  }
  .navbar-brand{
    margin-left: 10px;
  }
}





/* Navigation bar brand */


/* Nav link items */
.nav-item {
  margin-right: 30px;
   /* Adjust as needed */
}

/* Active nav link */
.nav-item.active .nav-link {
  color: red; /* Change the color to your desired active color */
  font-weight: bold;
}

/* Normal nav link */


.nav-NavLink {
  text-decoration: none;
  color: purple;
}
.login{
  margin:100px auto;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login .form-data{
  margin: 30px;

 
}
.login button{
  margin: 30px;
  justify-content: center;
  background-color: purple;
  color: white;

}
@media (max-width: 767px) {
  .login img{
    width: 100%;
  }
}